/BlobStorageService.Demo/bin/
/BlobStorageService.Demo/obj/
/BlobStorageService.Demo/.DS_Store
/BlobStorageService.Demo/test1.txt

/BlobStorageService.Service/bin/
/BlobStorageService.Service/obj/

/BlobStorageService.Demo/appsettings.Development.json
/BlobStorageService.Tests/appsettings.test.json

/BlobStorageService.Tests/bin/
/BlobStorageService.Tests/obj/

/.vs/
/.vscode/
/.DS_Store
