/BlobStorageService.Demo/bin/
/BlobStorageService.Demo/obj/

/BlobStorageService.Service/bin/
/BlobStorageService.Service/obj/

/BlobStorageService.Demo/appsettings.Development.json

/BlobStorageService.Tests/bin/
/BlobStorageService.Tests/obj/

/.vs/
/.vscode/